<div style="display: flex; justify-content: space-between;">
  {% if paginator.previous_page %}
  <button type="button" onclick="location.href='{{ paginator.previous_page_path | relative_url }}'">
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | relative_url }}">
      &laquo; 최신글 페이지
    </a>
  </button>
  {% endif %}
  {{ paginator.page }} / {{ paginator.total_pages }}
  {% if paginator.next_page %}
  <button type="button" onclick="location.href='{{ paginator.next_page_path | relative_url }}'">
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">
      이전글 페이지 &raquo;
    </a>
  </button>
  {% endif %}
</div>