---
layout: page
---

{% unless page.content == '' %}
{{ content }}
{% endunless %}

<table style="border: 1;">
  <thead>
    <tr>
      <th>글제목</th>
      <th>작성일</th>
    </tr>
  </thead>
  {% assign category = page.category | default: page.title %}
  <tbody>
    {% for post in site.categories[category] %}
    <tr>
      <td>
        <a href="{{ post.url | relative_url }}">{{ post.title }}<small>- {{post.excerpt}}</small></a>
      </td>
      <td>
        <small>{{ post.date | date_to_string }}</small>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>