---
layout: default
---

<div class="content">
  {% include pagination-newer.html %}

  {{ content }}
  <table style="border: 1;">
    <thead>
      <tr>
        <th>글제목</th>
        <th>게시날짜 / 태그</th>
      </tr>
    </thead>
    <tbody>
      {% for post in paginator.posts %}
      <tr>
        <td>
          <a href="{{ post.url | relative_url }}">
            {{ post.title }}
          </a>
          &nbsp;&#47;&nbsp;
          <small><small>
            {% if post.excerpt %}
            {{ post.excerpt }}
            {% else %}
            {{ post.content }}
            {% endif %}

            {% if post.excerpt %}
            {% comment %}Excerpt may be equal to content. Check.{% endcomment %}
            {% capture content_words %}
            {{ post.content | number_of_words }}
            {% endcapture %}
            {% capture excerpt_words %}
            {{ post.excerpt | number_of_words }}
            {% endcapture %}
            {% endif %}
          </small></small>
        </td>
        <td>
          <small><small>
            {% include post-meta.html post=post %}
          </small></small>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include pagination-older.html %}
</div>